/*    People to follow section    */
.people-tf__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  max-width: 60rem;
  margin-bottom: 0;
  margin-top: auto;
}

/*    People to follow section - Title    */
.people-tf__title {
  font-size: 1.8rem;
  font-weight: 600;
  align-self: flex-start;
  color: var(--black);
}

/*    People to follow container    */
.people-tf__container {
  display: flex;
  gap: 2rem;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--light-purple) var(--very-light-gray);
}

/*    People to follow container - Scrollbar   */

.people-tf__container::-webkit-scrollbar {
  height: 0.7rem;
  border-radius: 5px;
  background: var(--very-light-gray);
}
.people-tf__container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--light-purple);
}

/*    User link   */
.people-tf__link {
  margin: 2rem 0;
  text-decoration: none;
}

.people-tf__link:hover .people-tf {
  background: var(--very-light-gray);
}

/*    User container   */
.people-tf {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-width: 15rem;
  min-height: 15rem;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--purple);
  color: var(--black);
  background: var(--white);
}

/*    User container - Nickname    */
.people-tf__nickname {
  font-size: 1.5rem;
  font-weight: 500;
}

/*    User container - Username    */
.people-tf__username {
  font-size: 1.2rem;
  font-weight: 400;
}
