/*    Notifications section    */
.notifs-section {
  width: 80%;
  max-width: 60rem;
  padding: 4rem;
  border-radius: 10px;
  border: 1px solid var(--purple);
  color: var(--black);
  background: var(--white);
}

/*   Title    */
.notifs-section__title {
  font-size: 2rem;
  font-weight: 600;
}

/*    Notifications list   */
.notifs-section__list {
  margin: 4rem 0;
}

/*    Dark mode     */
.notifs-section.dark-mode {
  color: var(--white);
  background: var(--black);
}
