/*      User profile header     */
.user-profile__header {
  position: relative;
  top: -50px;
  width: 100%;
}

/*      Header background       */
.header__bckg {
  width: 100%;
  height: 25vh;
  background: var(--light-purple);
}

/*      User profile posts      */
.user-profile__posts {
  position: relative;
  top: -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 90%;
}
