/*    Notification info   */
.notif-info {
  border-bottom: 1px solid var(--light-purple);
  list-style: none;
  cursor: pointer;
}

.notif-info:hover,
.notif-info.not-seen {
  background: var(--very-light-gray);
}

/*    Notification info link  */
.notif-info__link {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: inherit;
  text-decoration: none;
}

/*    Notification info - Message   */
.notif-info__msg {
  font-size: 1.3rem;
  font-weight: 500;
}

/*    Dark mode     */
.notif-info.dark-mode {
  border-color: var(--purple);
}
.notif-info.dark-mode:hover,
.notif-info.dark-mode.not-seen {
  background: var(--light-black);
}
