/* Add comment container - Textarea */
.adc_textarea {
  width: 100%;
  height: 7rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
  border: none;
  resize: none;
  outline: 1px solid var(--purple);
  background: var(--very-light-purple);
  grid-column: 1/4;
}

/*      Dark mode       */
.add-comment__section.dark-mode .adc_textarea {
  outline: 1px solid var(--light-purple);
}
