/*      Settings section      */
.settings-section {
  width: 80%;
  max-width: 60rem;
  padding: 4rem;
  border-radius: 10px;
  border: 1px solid var(--purple);
  color: var(--black);
  background: var(--white);
}

/*      Settings section - Title       */
.settings-section__title {
  font-size: 2rem;
  font-weight: 600;
}

/*      Settings section - Options       */
.settings-section__options {
  margin: 4rem 0;
}

.settings-section__options li {
  list-style: none;
}

/*      Settings option      */
.settings-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

.settings-option:hover {
  background: var(--very-light-gray);
}

/*      Settings option - title     */
.settings-option__title {
  font-size: 1.4rem;
  font-weight: 500;
}

.settings-option__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--purple);
}

/*      Settings option - Delete option     */
.settings-option.delete-option {
  color: var(--red);
}
.settings-option.delete-option .settings-option__icon {
  fill: var(--red);
}
