/*      Field input file - Upload box   */
.field__file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  border-radius: 5px;
  border: 1px solid var(--purple);
  cursor: pointer;
}

/*      Field input file - Upload icon   */
.file_icon {
  width: 5rem;
  height: 5rem;
  fill: var(--purple);
}

/*      Field input file - Uploaded file name   */
.file_name {
  font-size: 1.1rem;
  text-align: center;
}
