/*      Header - Features    */
.header__features {
  margin-right: 0;
  margin-left: auto;
  cursor: pointer;
}

.features_icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--purple);
  z-index: 5;
}
