/*      Header - Features    */
.header__features {
  margin-right: 0;
  margin-left: auto;
  cursor: pointer;
}

.features_icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--purple);
  z-index: 5;
}

/*    Dark mode     */
.post__header.dark-mode .features_container {
  background: var(--black);
}

.post__header.dark-mode .feature__option.delete {
  color: var(--light-red);
}

.post__header.dark-mode .feature__option.delete .option_icon {
  fill: var(--light-red);
}
