/*      User info       */
.header__user-info {
  min-height: 15vh;
  padding: 3rem;
  padding-left: 13rem;
  border-bottom: 1px solid var(--purple);
  background: var(--white);
  color: var(--black);
}

/*      User info Top      */
.header__user-info_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 1rem;
  position: relative;
}

/*      User info Top  - Nickname       */
.user-info__nickname {
  font-size: 1.7rem;
  font-weight: 600;
  margin-right: 2rem;
}

/*      User info Top  - Username       */
.user-info__username {
  font-size: 1.6rem;
  font-weight: 500;
}

/*      User info Top  - Followers       */
.user-info__followers {
  margin-right: 2rem;
  font-size: 1.3rem;
  font-weight: 400;
}

/*      User info Bottom      */
.header__user-info_bottom {
  margin-top: 2rem;
}

/*      User info Bottom  - Bio       */
.user-info__bio {
  font-size: 1.4rem;
  font-weight: 400;
}

/*      Dark mode       */
.user-profile__header.dark-mode .header__user-info {
  color: var(--white);
  background: var(--black);
}
