/*      Post header      */
.post__header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*      Header - Link      */
.header__link {
  color: inherit;
  text-decoration: none;
}

.header__link:hover {
  text-decoration: underline;
}

/*      Header - Nickname      */
.header__nickname {
  font-size: 1.4rem;
  font-weight: 700;
}

/*      Header - Username      */
.header__username {
  font-size: 1.4rem;
  font-weight: 500;
}

/*      Header - Created at     */
.header__time {
  font-size: 1.25rem;
  font-weight: 400;
}
