/*      Footer - Option      */
.footer__option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--purple);
  cursor: pointer;
}

/*      Option comment icon      */
.comment_icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--purple);
}

/*      Option reply icon      */
.reply_icon {
  width: 2rem;
  height: 2rem;
  fill: var(--purple);
}

/*      Option like icon      */
.like_icon {
  width: 2rem;
  height: 2rem;
  stroke-width: 1.5px;
  stroke: var(--purple);
  fill: var(--white);
}

.like_icon.post_liked {
  fill: var(--purple);
  stroke-width: 0px;
}
