/*      Post inserted image     */
.post__inserted-image {
  position: relative;
  width: 100%;
  height: 20rem;
  margin-bottom: 1rem;
}

.post__inserted-image.full {
  height: 25rem;
}
.post__inserted-image.full .inserted-image {
  object-fit: contain;
}

.inserted-image {
  object-fit: cover;
  border-radius: 5px;
}
