/*      Replies container       */
.replies-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  width: 75%;
  max-width: 60rem;
  min-width: 30rem;
  border-left: 3px solid var(--light-gray);
}
